<aside th:fragment="sidebar">
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action" href="/">대시보드</a>
        <a class="list-group-item list-group-item-action" href="/user">회원 전용</a>
        <a class="list-group-item list-group-item-action" href="/manager">매니저 전용</a>
        <a class="list-group-item list-group-item-action" href="/admin">관리자 전용</a>
        <a class="list-group-item list-group-item-action" href="/db">DBA 전용</a>
    </div>
</aside>