<div class="tbl_wrp">
    <form class="form-horizontal form-custom" method="post" th:action="@{/admin/users}" th:object="${user}">
        <input th:field="*{id}" type="hidden"/>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="username">아이디</label>
            <div class="col-sm-10">
                <input class="form-control input-large" placeholder="username" required th:field="*{username}"
                       type="text">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="password">비밀번호</label>
            <div class="col-sm-10">
                <input class="form-control input-large" placeholder="password" required th:name="password" type="text">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="age">나이</label>
            <div class="col-sm-10">
                <input class="form-control input-large" placeholder="age" required th:field="*{age}" type="text">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="roles">권한</label>
            <div class="col-sm-10">
                <span th:each="role:${roleList}">
                    <input th:field="*{roles}" th:value="${role.roleName}" type="checkbox"/>
                    <label th:text="${role.roleName}"></label>
                </span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10">
                <button class="btn btn-dark btn-lg" type="Submit">등록</button>
                <a class="btn btn-dark btn-lg" th:href="@{/admin/users}">목록</a>
            </div>
        </div>
    </form>
</div>